@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* 要素の幅と高さの計算をしやすくするための設定 */
}

html{
font-size: 62.5%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #000;
  line-height: 1;
  background-color: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* ここからheader */

.header-inner {
  max-width: 120rem;
  height: 7.5rem;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #ff1a1a;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 5rem;
  width: 20rem;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin: 0 2rem;
}

.site-menu ul li a {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.4rem;
}

.nav-item {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -100%;
  background: #fff;
  min-width: 18rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  z-index: 999;
  /* 見えなくして触れなくする */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.dropdown li a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #000;
  white-space: nowrap;
}

.dropdown.active {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown a:hover {
  color: #ff1a1a;
}

/* ここまでheaderの設定 */

/* ここからfooterの設定 */
.footer {
  color: #fff;
  background: url(../img/footer.jpg) no-repeat center / cover;
  padding: 1.5rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-site-menu ul {
  display: flex;
}

.footer-site-menu ul li {
  margin: 0 2rem;
}

.footer-site-menu ul li a {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.8rem;
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 2px 0px black;
  paint-order: stroke;
}

.footer-nav-item {
  display: flex;
}

.footer-nav-item .footer-dropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}

.footer-nav-item .footer-dropdown li {
  margin: 0px 0.5rem 1.5rem;
}

.footer-nav-item .footer-dropdown li a {
  font-size: 2.4rem;
  white-space: nowrap;
  color: #f0f0f0;
}

.footer-nav-item .footer-dropdown li a:hover {
  color: #ff1a1a;
}

.footer-logo {
  font-size: 146px;
  font-family: "Dela Gothic One", sans-serif;
  margin-top: 4rem;
  text-shadow: 0.5rem 0.5rem 2px rgba(0, 0, 0, 0.5);
}

.footer-support {
  font-size: 2.8rem;
  font-family: "Dela Gothic One", sans-serif;
  margin-top: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
